# Ignorar chave secreta
.env

# Ignorar ambiente virtual
venv/

# Arquivos temporários
__pycache__/
*.pyc

# Editor configs (opcional)
.vscode/
*.code-workspace

# arquivos do banco 
seed.sql

#ignorar chave do firebase
firebase-key.json