body {
      background-color: #05001C;
      height: 80px;
      font-family: 'Orbitron', sans-serif;
      border-bottom: 2px solid #3CC9E4;
}
/* logo da marca kitpc */
.logo-kitpc {
    width: 150px;
    height: auto;
    max-width: 100px;
    margin-right: 0px;
}

/* titulos principais */
h1{
  color: transparent;                    
  -webkit-text-stroke: 1px #3CC9E4;      
}

h2{
  color: #3CC9E4;
}
header {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* css da barra de navegaçao  */
.navbarNav{
  color: #9216FD;
}
a.nav-link {
  color: #9216FD;
}
a.nav-link:hover{
  color:#3CC9E4;
;
}
.navbar-toggler-icon {
  filter: invert(54%) sepia(86%) saturate(497%) hue-rotate(163deg) brightness(92%) contrast(89%);
}

/* cards das peças da página princial */
.card-peca {
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 2px solid #3CC9E4;
  border-radius: 10px;
}



p{
    color: #9216FD;
}
.paragrafo2{
  color: #3CC9E4;
}
.section-title{
  margin-top: 100px;
  margin-bottom: 10px;
}


/* Efeito de brilho na imagem de destaque */
.border-neon {
    border: 2px solid #3CC9E4;
    box-shadow: 0 0 20px rgba(60, 201, 228, 0.4);
    transition: 0.3s;
}

.destaque-container {
    background: rgba(146, 22, 253, 0.1); /* Um roxo bem transparente */
    border-left: 4px solid #9216FD;
    border-radius: 0 15px 15px 0;
}

.image-glow:hover .border-neon {
    box-shadow: 0 0 40px rgba(60, 201, 228, 0.7);
    transform: scale(1.02);
}

/* Rodapé */
footer {
    border-top: 2px solid #3CC9E4;
    padding: 20px;
}



/* Cards menores de notícias */
.card-blog-menor {
    background: rgba(11, 5, 45, 0.6);
    border: 1px solid rgba(60, 201, 228, 0.3);
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    transition: 0.3s;
}

.card-blog-menor:hover {
    border-color: #9216FD;
    transform: translateY(-5px);
    background: rgba(146, 22, 253, 0.1);
}

.border-neon-sm {
    border: 1px solid #3CC9E4;
    box-shadow: 0 0 10px rgba(60, 201, 228, 0.2);
}

/* Ajuste para os títulos menores não terem o stroke muito grosso */
.card-blog-menor h3 {
    color: #3CC9E4;
    -webkit-text-stroke: 0px; /* Remove o contorno nos títulos pequenos para ler melhor */
}